/**
 * normal
 */
body {
	background-color: #e4e5e7;
}

.header {
	background-color: #181818;
}

.navbar {
	margin-bottom: 0px;
	border-bottom: 0px;
}

@media (min-width: 1200px) {
	/*.container {
		width: 1280px;
	}*/
}

.parallax-view {
	position: fixed; 
	left: 0; 
	right: 0; 
}

.section-1, .section-2, .section-3, .section-4, .section5 {
	overflow-x: hidden;
}

/*============ screen 1 ===============*/
.screen-1-wrap  img {
	position: fixed;
	left: 50%;
}

.screen-1-wrap {
	margin-top: 30px;
	text-align: center;
}

/*============ screen 2===============*/
.circle-btn, .circle-btn-reflect {
	-webkit-border-radius: 85px 85px 85px 85px;
	border-radius: 85px 85px 85px 85px;
	border: 1px solid #bdbdbd;
	background-color: #FFF;
	width: 170px;
	height: 170px;
	cursor: pointer;
	behavior: url(js/pie/PIE.htc);
}

.circle-btn-reflect {
	height: 70px;
}

.circle-btn-reflect {
	background: transparent url(../img/circle-btn-reflect_bg.png) center top no-repeat;
	border-width: 0;
}

.circle-btn:hover + .circle-btn-reflect, .circle-btn.active + .circle-btn-reflect {
	background-image: url(../img/circle-btn-reflect-active_bg.png) center top no-repeat;
	border-width: 0;
}

.circle-btn  h1 {
	font-size: 4em;
}

.circle-btn  p {
	font-size: 1.5em;
}

.circle-btn  h1, .circle-btn p strong {
	color: #e60012;
}

.circle-btn:hover, .circle-btn:focus, .circle-btn:active, .circle-btn.active {
	background-color: #e60012;
	border-color: #e60012;
	color: #FFF;
}

.circle-btn:hover h1, .circle-btn:hover p strong, .circle-btn:focus h1, .circle-btn:focus p strong, .circle-btn:active h1, .circle-btn:active p strong, .circle-btn.active h1, .circle-btn.active p strong {
	color: #FFF;
}

/*============= screen 3 =================*/
.case-grid {
	overflow: visible !important;
}

.case-grid  .container {
	padding: 0;
}

.case-grid .row {
	margin: 0 !important;
	padding: 0 !important;
}

.case-grid .case-item {
	margin: 0 !important;
	padding: 0 !important;
}

.case-header{
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-8 */
	
	width: 100%; height: 50px;
}


.case-list {
}

.case-list .case-item {
	position: relative;
}

.case-list .case-intro {
	font-size: 14px;
	color: #a8a8a8;
	text-align: center;
	opacity: 0;
	filter:alpha(opacity=0)
}

.case-list  .case-pic, .case-list .case-intro {
	position: absolute;
}

.case-list  .case-pic {
	left: 0;
	top: 0;
}

.case-list  .case-intro {
	left: 0;
	top: 0;
}

.case-list .case-item .case-intro {
	background-color: #1d1d1d;
	padding: 10px 30px;
	width: 100%;
}

.case-list .case-item .case-intro h3 {
	color: #FFF;
	font-size: 1.5em;
	font-weight: bold;
	text-align: center;
}

.case-list .case-item  .case-intro img {
	margin-top: -50px;
}

.case-list .case-item .case-intro p {
	text-align: center;
}

/*=================== screen 4 ===================*/
.section-4 {
	overflow-x: hidden;
	overflow-y:visible;
	height: 1000px;
	padding-top: 150px;
	background:  url(../img/computer.png) center top no-repeat;
	background-color: #fbfbfb;
}

.stage_area {
	width: 1000px;
	min-height: 400px;
	margin-left: auto;
	margin-right: auto;
	-webkit-perspective: 800px;
	-moz-perspective: 800px;
	-ms-perspective: 800px;
	perspective: 800px;
	
	-webkit-perspective-origin: 50% 20%;
	-moz-perspective-origin: 50% 20%;
	-ms-perspective-origin: 50% 20%;
	perspective-origin: 50% 20%;
	position: relative;
	
}

.box-container .box {
}

.stage_area  .box-container {
	position: relative;
	
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-ms-transform-style: preserve-3d;
	-sand-transform-style: preserve-3d;
	transform-style: preserve-3d;
	
	-webkit-transform: rotateX(90deg) translate3d(0, 0, 50px);
	-moz-transform: rotateX(90deg) translate3d(0, 0, 50px);
	-ms-transform: rotateX(90deg) translate3d(0, 0, 50px);
	transform: rotateX(90deg) translate3d(0, 0, 50px);
}

.box-container .surface {
	width: 200px;
	height: 200px;
	position: absolute;
	background-color: #CCC;
	-webkit-transform: translate3d(0,0,-400px);
	-moz-transform: translate3d(0,0,-400px);
	transform: translate3d(0,0,-400px);
}

.box-container .box:hover .bottom {
	background-color: #555;
}

.box-container .top {
	-webkit-transform: translate3d(0,0,-400);
	-moz-transform: translate3d(0,0,-400);
	transform: translate3d(0,0,-400);
	background-color: #dd0313;
	opacity: 0;
	-webkit-transition: all 0.5s linear 0s;
	-moz-transition: all 0.5s linear 0s;
	transition: all 0.5s linear 0s;
/*	background: url(../img/top_face.png) center center no-repeat;*/
}
.box-container .front {
	width: 200px;
	height: 100px;
	-webkit-transform: rotateX(-90deg) translate3d(0px, 350px, 150px);
	-moz-transform: rotateX(-90deg) translate3d(0px, 350px, 150px);
	-ms-transform: rotateX(-90deg) translate3d(0px, 350px, 150px);
	transform: rotateX(-90deg) translate3d(0px, 350px, 150px);
	opacity: 0;
	transition: all 0.5s linear 0s;
	display: none;
}
.box-container .right {
	width: 200px;
	height: 100px;
	-webkit-transform: rotateX(90deg) rotateY(-90deg) translate3d(-50px, -350px, -100px);
	-moz-transform: rotateX(90deg) rotateY(-90deg) translate3d(-50px, -350px, -100px);
	transform: rotateX(90deg) rotateY(-90deg) translate3d(-50px, -350px, -100px);
	opacity: 0;
	display: none;
}
.box-container .left {
	width: 200px;
	height: 100px;
	-webkit-transform: rotateX(90deg) rotateY(-90deg) translate3d(-50px, -350px, 100px);
	-moz-transform: rotateX(90deg) rotateY(-90deg) translate3d(-50px, -350px, 100px);
	transform: rotateX(90deg) rotateY(-90deg) translate3d(-50px, -350px, 100px);
	opacity: 0;
	display: none;
}

.box-container .things {
	-webkit-transform: translate3d(0px, 0px, -400px) rotateY(0) rotateZ(0) scale(0.1);
	-moz-transform: translate3d(0px, 0px, -400px) rotateY(0) rotateZ(0) scale(0.1);
	transform: translate3d(0px, 0px, -400px) rotateY(0) rotateZ(0) scale(0.1);
	opacity: 0;
    background-color: transparent;
    height: auto;
    max-width: 100%;
}

.box-container .openBox .top {
	-webkit-transform: translate3d(0,0,-300px);
	-moz-transform: translate3d(0,0,-300px);
	transform: translate3d(0,0,-300px);
	opacity: 1;
	display: block;
}

.box-container .openBox .things {
	opacity: 1;
	-webkit-transform: translate3d(0px, 0px, -250px) rotateY(0deg) rotateZ(0deg) rotateX(-90deg) scale(0.5);
	-moz-transform: translate3d(0px, 0px, -250px) rotateY(0deg) rotateZ(0deg) rotateX(-90deg) scale(0.5);
	transform: translate3d(0px, 0px, -250px) rotateY(0deg) rotateZ(0deg) rotateX(-90deg) scale(0.5);
}

.box-container .openBox.box-row-1 .things,
.box-container .openBox.box-row-1 .things {
	-webkit-transform: translate3d(0px, 0px, -250px) rotateY(0deg) rotateZ(0deg) rotateX(-90deg) scale(0.32);
	-moz-transform: translate3d(0px, 0px, -250px) rotateY(0deg) rotateZ(0deg) rotateX(-90deg) scale(0.32);
	transform: translate3d(0px, 0px, -250px) rotateY(0deg) rotateZ(0deg) rotateX(-90deg) scale(0.32);
}

.box-container .openBox .front,.box-container .openBox .left,.box-container .openBox .right {
	opacity: 0.2;
	display: block;
	background-color: #AAA;
}

.box-container .openBox .left {
	opacity: 0.3;
}

.box-container .openBox .right {
	opacity: 0.4;
}

.box-container .openBox .bottom {
	background-color: #555555;
}

.box-container .box-label {
	background: rgb(255,255,255); /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlYWVhZWEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(234,234,234,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(234,234,234,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(234,234,234,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(234,234,234,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(234,234,234,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(234,234,234,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eaeaea',GradientType=0 ); /* IE6-8 */
	
	
	-webkit-transform: rotateX(-90deg) translate3d(50px, 355px, 0px);
	-moz-transform: rotateX(-90deg) translate3d(50px, 355px, 0px);
	transform: rotateX(-90deg) translate3d(50px, 355px, 0px);
	-webkit-border-radius: 70px 70px 70px 70px;
	border-radius: 70px 70px 70px 70px;
	border: 1px solid #bdbdbd;
	background-color: #FFF;
	width: 120px;
	height: 120px;
	cursor: pointer;
	opacity: 1;
	display: block;
	-webkit-transition: all 0.5s linear 0s;
	-moz-transition: all 0.5s linear 0s;
	transition: all 0.5s linear 0s;
	color: #dd0313;
	text-align: center;
	font-size: 16px;
}

.box-container .box-label  p {
	margin-top: 35px;
}

.box-container .openBox .box-label {
	-webkit-transform: rotateX(-90deg) translate3d(50px, 180px, 0px);
	-moz-transform: rotateX(-90deg) translate3d(50px, 180px, 0px);
	transform: rotateX(-90deg) translate3d(50px, 180px, 0px);
	opacity: 1;
	background-color: #FFF;
}

/*============= screen events ==============*/
#events {
	background-color: #FFF;
}

#events .container{
	width: 1280px;
}

#events .scroll-1 {
	overflow-x: hidden;
	background: url(../img/events/events_bg_1.png) center top repeat-y ;
}

#events .scroll-2 {
	background: url(../img/events/events_bg_2.png) center top repeat-y ;
}

#events .events-body {
	position: relative;
	background: url(../img/events.png) center top no-repeat;
	height: 1648px;
}

#events .events-body .mask{
	background: url(../img/events_mask.png) center top no-repeat;
	width: 100%;
	position: absolute;
}

#events .events-points a{
	position: absolute;
	color: #FFF;
	font-weight: bold;
	font-size: 1.5em;
}

#events .events-points a:hover {
	color: #F1D44B;
	text-decoration: none;
}

#events .events-tag {
	display: none;
	position: fixed;
	left: 50%;
	top: 550px;
	width: 850px;
	margin-left: -425px;
}

#events .events-tag dt {
	background: url(../img/events/events_tag_head.png) left top no-repeat;
	height: 176px;
	width: 240px;
	float: left;
	text-align: center;
	font-size: 3em;
	line-height: 140px;
	color: #FFF;
	font-weight: bold;
}

#events .events-tag dd {
	width: 850px;
}

#events .events-tag  .events-tag-body-top {
	background: url(../img/events/events_tag_body_top.png) right top no-repeat;
	height: 38px;
}

#events .events-tag  .events-tag-body-middle {
	position: relative;
	background: #dddddd ;
	padding: 10px 50px 70px 60px;
	margin-left: 250px;
	box-shadow: 4px 4px 4px -1px rgba(0,0,0,0.35);
	behavior: url(js/pie/PIE.htc);
}

/*===============screen 6===============*/
.screen-6 {
	background-color: #ececec;
}

.contact-info ul, .contact-info li {
	list-style: none;
	margin: 0;
	padding: 0;
}

.contact-info li {
	padding: 25px 5px;
}

.contact-info .col-sm-6 {
	padding-left: 10px;
	padding-right: 10px;
}

.contact-info dt {
	float: left;
}

.contact-info dd {
	padding-top: 20px;
}

.contact-info dd  strong {
	display: block;
}

.contact-info .circle-btn {
	display: block;
	width: 72px;
	height: 72px;
	line-height: 72px;
	-webkit-border-radius: 36px 36px 36px 36px;
	 -moz-border-radius: 36px 36px 36px 36px;
	border-radius: 36px 36px 36px 36px;
	border: 0px solid #bdbdbd;
	text-align: center;
	margin-right: 10px;
	margin: 10px;
	color: #999;
	font-size: 24px;
	position: relative;
	behavior: url(js/pie/PIE.htc);
}

.contact-info .circle-btn:hover {
	color: #FFF;
}

/*
 * footer
 */
footer {
	background-color: #181818;
}
.footer {
	padding-top: 20px;
}

.site-map {
	margin-left: 10px;
	margin-right: 20px;
	padding-left: 0;
	padding-right: 0;
}

.site-map .list-group-item {
	background-color: transparent;
	border: 0px solid #FFF;
	padding: 0;
	height: 35px;
	line-height: 35px;
}

.site-map .list-group-item.title {
	color: #C0C0C0;
	font-weight: bold;
}

.site-map a.active, .site-map a:hover, .site-map a:focus, .site-map a:active, .site-map a.list-group-item.active {
	background-color: transparent;
	background-image: none;
	color: #ff1100;
	text-shadow: 0 1px 0 rgba(0, 0, 0, .25);
}

.qr .col-sm-4 {
	padding: 0;
}

.qr-box {
	background-color: #1f1f1f;
	padding: 5px;
	text-align: center;
	max-width: 125px;
}

.qr-box h6 {
	color: #c0c0c0;
}

.copyright {
	text-align: center;
}
